<template>
    <div class="container my-0 p-0">
        <h4 class="text-center poppins text-dark-blue font-weight-bold text-uppercase">Crear Areas</h4> 
        <hr class="bg-dark-blue">  
        <div class="form-row mx-0" autocomplete="off" name="addPatient">
            <div class="col-lg-6 row mx-0 col-md-6 col-12">
                <div class="col-6 mb-2 col-lg-4 col-md-4 px-1 text-center">
                    <div>
                        <label class="mb-0 font-weight-bold poppins w-100">Estado</label>                
                        <el-switch
                            class="mt-2"
                            v-model="dataSave.estado"
                            active-color="#13ce66"
                            inactive-color="#ff4949">
                        </el-switch> 
                    </div>              
                </div>  
                <div class="col-12 mb-2 col-lg-8 col-md-8 px-1">
                    <label class="mb-0 font-weight-bold poppins">Nombre</label>                
                    <input type="text" v-model="dataSave.nombre" class="form-control" placeholder="Nombre">                
                </div>  
                <div class="col-12 mb-2 col-lg-12 col-md-12 px-1 text-center">
                    <label class="mb-0 font-weight-bold poppins w-100">Descripcion</label>                
                    <el-input type="textarea" v-model="dataSave.descripcion"></el-input>             
                </div>                 
                <div class="col-6 mb-2 col-lg-12 col-md-12 px-1 text-center">
                    <label class="mb-0 font-weight-bold poppins w-100">¿Tiene mesas?</label>                
                    <button @click="activeTableList = !activeTableList " class="btn btn-sm btn-outline-primary poppins-light mt-1 mb-1">
                        {{(!activeTableList) ? 'Añadir' : 'Cerrar'}} <i class="el-icon-plus"></i>
                    </button>               
                </div>                                 
                <div class="col-12">
                    <hr class="my-2">
                </div>  
            </div>


            <div class="col-12 col-lg-6 row col-md-6 mx-0 p-3" style="background: #f1f1f1;" v-if="activeTableList">
                <div class="col-6 mb-2 col-lg-4 col-md-4 px-1 text-center">
                    <div>
                        <label class="mb-0 font-weight-bold poppins w-100">Estado</label>                
                        <el-switch
                            class="mt-2"
                            v-model="list.estado"
                            active-color="#13ce66"
                            inactive-color="#ff4949">
                        </el-switch> 
                    </div>              
                </div>  
                <div class="col-12 mb-2 col-lg-8 col-md-8 px-1">
                    <label class="mb-0 font-weight-bold poppins">Nombre</label>                
                    <input type="text" v-model="list.nombre" class="form-control" placeholder="Nombre">                
                </div>                 
                <div class="col-6 mb-2 col-lg-6 col-md-12 px-1 text-center">
                    <label class="mb-0 font-weight-bold poppins w-100">capacidad</label>                
                    <input v-model="list.capacidad" type="number" class="form-control" min="1">
                    <label class="mb-0 font-weight-bold poppins w-100">personas</label>                
                    <input v-model="list.npersona" type="number" class="form-control" min="1">
                </div>      
                <div class="col-12 mb-2 col-lg-6 col-md-12 px-1 text-center">
                    <label class="mb-0 font-weight-bold poppins w-100">Descripcion</label>                
                    <el-input type="textarea" v-model="list.descripcion"></el-input>             
                </div> 
                <div class="col-12 mb-2 col-lg-12 col-md-12 px-1 mt-2">                                        
                    <el-checkbox v-model="list.domicilio" label="Domicilio" border size="small" class="poppins"></el-checkbox><br>
                    <el-checkbox v-model="list.prefacturado" border label="Prefacturado" size="small" class="poppins"></el-checkbox><br>
                    <el-checkbox v-model="list.rapida" border label="Rapida" size="small" class="poppins"></el-checkbox><br>
                    <p class="text-center">
                        <button @click="addThirdTable()" class="btn btn-sm btn-primary poppins px-5"><i class="el-icon-plus"></i></button>                
                    </p>                   
                </div>             
            </div>
            <div class="col-12" v-if="dataSave.mesas.length > 0">
                <el-tabs type="card" v-model="editableTabsValue" class="px-1" closable @tab-remove="removeTable">
                    <el-tab-pane v-for="(m, index) in dataSave.mesas" :key="index" :name="m.mesa_id" :label="m.nombre">
                        <div class="">
                            <p class="px-4 poppins-light mb-2 pb-2 border-bottom">
                                <span class="poppins">Descripción:</span> {{m.descripcion}} 
                            </p>  
                            <p class="px-4 poppins-light mb-2 pb-2 border-bottom">                                        
                                <span class="poppins">Capacidad:</span> {{m.capacidad}},   
                                <span class="poppins">Creado:</span> {{moment(m.created_at)}}  
                            </p>  
                            <p class="px-4 poppins-light mb-2 pb-2 border-bottom">
                                <span class="poppins">Comanda:</span> {{m.comanda}}, 
                                <span class="poppins">Personas: </span> {{m.npersona}} <i class="el-icon-user"></i>
                            </p>                                                       
                            <p class="px-4 poppins mb-1 text-transform">
                                <el-tag size="mini" :type="(m.estado) ? 'success' : 'danger'"><i :class="(m.estado) ? 'fa fa-check-square-o' : 'fa fa-times'"></i></el-tag> <span class="ml-1 poppins">Estado</span>    
                            </p> 
                            <p class="px-4 poppins mb-1 text-transform">
                                <el-tag size="mini" :type="(m.rapida) ? 'success' : 'danger'"><i :class="(m.rapida) ? 'fa fa-check-square-o' : 'fa fa-times'"></i></el-tag> <span class="ml-1 poppins">Rapida</span>    
                            </p> 
                            <p class="px-4 poppins mb-1 text-transform">
                                <el-tag size="mini" :type="(m.domicilio) ? 'success' : 'danger'"><i :class="(m.domicilio) ? 'fa fa-check-square-o' : 'fa fa-times'"></i></el-tag> <span class="ml-1 poppins">Domicilio</span>     
                            </p> 
                            <p class="px-4 poppins mb-1 text-transform">
                                <el-tag size="mini" :type="(m.prefacturado) ? 'success' : 'danger'"><i :class="(m.prefacturado) ? 'fa fa-check-square-o' : 'fa fa-times'"></i></el-tag> <span class="ml-1 poppins">Prefacturado</span>     
                            </p>                                                                                           
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </div>                                         
            <div class="col-12 col-lg-12 text-center col-md-12 text-center mt-4">
                <button v-bind:disabled="response.chargingButton" @click="addThird()" class="btn btn-primary poppins px-5"><i class="fa" v-bind:class="{'fa-save': !response.chargingButton, 'fa-spinner fa-pulse': response.chargingButton}"></i> Guardar</button>                                
            </div>
        </div>
    </div>
</template>
<script>
import Call from '../../Utilities/Plugins/axios';
import moment from 'moment'
let city = require('../../Utilities/Data/Colombian-citys.json');
export default {
    data(){
        return{            
            inputVisible: false,
            activeTableList: false,
            editableTabsValue: '',
            inputValue: '',           
            dataSave: 
            {
                nombre: "",
                descripcion: "",
                estado: false,
                tiene_mesas: 0,
                mesas: []
            },
            list: 
            {
                nombre: "",
                descripcion: "",
                estado: false,
                capacidad: 1,
                npersona: 0,                
                rapida: false,
                domicilio: false,
                comanda: "libre",
                prefacturado: false
            },
            response:
            {
                disabledb: true,
                chargingButton: false,               
            }       
        }        
    },
    methods:
    {
        removeTable()
        {
            let activeName = this.editableTabsValue
            this.dataSave.mesas.splice(activeName, 1)            
        },
        moment(date) 
        {            
            return moment(date).locale('es').format('lll');
        },
        addThird()
        {
            let ok = false
            this.response.chargingButton = true                                    
                           
            if(
                this.dataSave.nombre == '' ||
                this.dataSave.descripcion == '' ||
                (this.dataSave.mesas.length > 0 && (this.dataSave.mesas.nombre || this.dataSave.mesas.descripcion))
            )
            {
                this.$chidoriAlert.show('Error', 'No pueden haber campos vacios', 'error', 4000)
                this.response.chargingButton = false
            } else {                         
                this.dataSave.tiene_mesas = this.dataSave.mesas.length                                                             
                Call('POST', 'Conf/Areas/Crear', true, this.dataSave, false)
                .then((resp) =>
                {
                    // let dat = (resp.data.result)
                    console.log(resp);
                    if(resp.data.data.id)
                    {
                        this.$chidoriAlert.show('Guardado!', 'Registro Exitoso', 'success', 4000)                        
                    } else{
                        this.$chidoriAlert.show('Error', 'Un error inesperado a ocurrido, verifique e intente nuevamente', 'error', 4000)
                    }
                    this.response.chargingButton = false
                })                                      
            }                                                       
        },
        addThirdTable()
        {                        
            this.dataSave.mesas.push(
            {
                nombre: this.list.nombre ,
                descripcion: this.list.descripcion ,
                estado: this.list.estado ,
                capacidad: this.list.capacidad ,
                npersona: this.list.npersona ,
                rapida: this.list.rapida ,
                domicilio: this.list.domicilio ,
                comanda: this.list.comanda ,
                prefacturado: this.list.prefacturado
            })            
            setTimeout(() => 
            {
                this.clear()    
            }, 500);
        },
        clear()
        {
            this.list.nombre = "",
            this.list.descripcion = "",
            this.list.estado = false,
            this.list.capacidad = 1,
            this.list.npersona = 0,            
            this.list.rapida = false,
            this.list.domicilio = false,
            this.list.comanda = "libre",
            this.list.prefacturado = false
        }
    }
}
</script>
