<template>
    <div class="container my-0 p-0">
        <div id="upShow" class="container mt-0 mb-4 update-container px-0" v-if="upShow">
            <h4 class="text-center poppins text-dark-blue font-weight-bold text-uppercase">Modificar Area</h4> 
            <hr class="bg-dark-blue">            
        </div>        
        <h4 class="text-center poppins text-dark-blue font-weight-bold text-uppercase">Consultar Areas</h4> 
        <hr class="bg-dark-blue">
        <div class="mb-2">
            <router-link to="/bf/create-area"><button class="btn btn-outline-success poppins-light mr-1 mb-1"><i class="el-icon-plus"></i> Agregar</button></router-link>           
        </div>
        <el-input placeholder="" class="mb-2 poppins input-s" v-model="filters[0].value">
            <template slot="prepend">¿Que buscas?</template>
        </el-input>        
        <data-tables height="350" v-loading.body="loading" :table-props="tableProps" :data="data" :filters="filters" class="poppins">
            <el-table-column type="expand">
                <template slot-scope="scope">
                    <div v-if="scope.row.tiene_mesas > 0" class="px-4 py-2">
                        <el-tabs type="card" class="px-1">
                            <el-tab-pane v-for="(m, index) in scope.row.mesas" :key="index" :label="m.nombre">
                                <div class="">
                                    <p class="px-4 poppins-light mb-2 pb-2 border-bottom">
                                        <span class="poppins">Descripción:</span> {{m.descripcion}} 
                                    </p>  
                                    <p class="px-4 poppins-light mb-2 pb-2 border-bottom">                                        
                                        <span class="poppins">Capacidad:</span> {{m.capacidad}},   
                                        <span class="poppins">Creado:</span> {{moment(m.created_at)}}  
                                    </p>  
                                    <p class="px-4 poppins-light mb-2 pb-2 border-bottom">
                                        <span class="poppins">Comanda:</span> {{m.comanda}}, 
                                        <span class="poppins">Personas: </span> {{m.npersona}} <i class="el-icon-user"></i>
                                    </p>                                                       
                                    <p class="px-4 poppins mb-1 text-transform">
                                        <el-tag size="mini" :type="(m.estado) ? 'success' : 'danger'"><i :class="(m.estado) ? 'fa fa-check-square-o' : 'fa fa-times'"></i></el-tag> <span class="ml-1 poppins">Estado</span>    
                                    </p> 
                                    <p class="px-4 poppins mb-1 text-transform">
                                        <el-tag size="mini" :type="(m.rapida) ? 'success' : 'danger'"><i :class="(m.rapida) ? 'fa fa-check-square-o' : 'fa fa-times'"></i></el-tag> <span class="ml-1 poppins">Rapida</span>    
                                    </p> 
                                    <p class="px-4 poppins mb-1 text-transform">
                                        <el-tag size="mini" :type="(m.domicilio) ? 'success' : 'danger'"><i :class="(m.domicilio) ? 'fa fa-check-square-o' : 'fa fa-times'"></i></el-tag> <span class="ml-1 poppins">Domicilio</span>     
                                    </p> 
                                    <p class="px-4 poppins mb-1 text-transform">
                                        <el-tag size="mini" :type="(m.prefacturado) ? 'success' : 'danger'"><i :class="(m.prefacturado) ? 'fa fa-check-square-o' : 'fa fa-times'"></i></el-tag> <span class="ml-1 poppins">Prefacturado</span>     
                                    </p>                                                                                  
                                </div>
                            </el-tab-pane>
                        </el-tabs>       
                    </div> 
                    <p v-else class="poppins text-center my-2">
                        No hay mesas registradas :(
                    </p>               
                </template>
            </el-table-column>
            <el-table-column header-align="center" align="center" class-name="font-weight-bold" fixed
            type="index"
            label="#">
            </el-table-column>   
            <!-- {{(typeTable == 'EPS') ? name = 'Nombre' : name = 'Razon Soc.'}}          -->
            <el-table-column header-align="center" align="center" prop="nombre" label="Nombre" sortable="custom">
            </el-table-column> 
            <el-table-column header-align="center" align="center" prop="descripcion" label="Descrip." sortable="custom">
            </el-table-column>            
            <el-table-column header-align="center" align="center" prop="tiene_mesas" label="N° Mesas" sortable="custom">
                <template slot-scope="scope">
                    <el-tag v-if="scope.row.tiene_mesas > 0" effect="plain" size="small">
                        {{scope.row.tiene_mesas}}
                    </el-tag>
                    <label for="" v-else>
                        N/A
                    </label>
                </template>
            </el-table-column> 
            <el-table-column fixed="right" align="center" width="120" label="ACCIONES">
                <template slot-scope="scope">
                    <el-button-group>   
                        <el-tooltip content="Editar" placement="top">                     
                            <el-button disabled type="primary" @click="updat(scope.row.id, scope.row.contactType)" size="mini" icon="el-icon-edit" onclick="$(document).scrollTop(0)"></el-button>
                        </el-tooltip>
                        <el-popover
                        placement="top-start"   
                        trigger="manual"                       
                        v-model="scope.row.visiblepop">
                            <p class="mb-0">Estas seguro de eliminar esta area?</p>
                            <hr class="my-2">
                            <div class="d-flex justify-content-end align-items-center">
                                <el-button size="mini" type="text" @click="scope.row.visiblepop = false">Cancelar</el-button>
                                <el-button type="danger" size="mini" @click.prevent="delet(scope.row.id)">Eliminar</el-button>
                            </div>
                            <el-button type="danger" @click="scope.row.visiblepop = true" slot="reference" size="mini" icon="el-icon-delete"></el-button>
                        </el-popover>
                    </el-button-group>
                </template>
            </el-table-column>
        </data-tables>         
    </div>
</template>
<script>
let city = require('../../Utilities/Data/Colombian-citys.json');
import moment from 'moment'
import Call from '../../Utilities/Plugins/axios';
export default {
    data(){
        return{
            inputVisible: false,
            inputValue: '',                    
            dynamicTable: [],
            data: [],
            tableProps: 
            {
                border: false,
                stripe: true,
                defaultSort: {                
                order: 'descending'
                }
            },
            loading: true,
            filters: 
            [
                {
                    prop: ['nombre', 'descripcion'],
                    value: ''
                }
            ],
            nameUser: '',
            upShow: false,
            response:
            {
                chargingButton: false,                              
            }
        }
    },
    mounted()
    {
       this.dataTable()
    },
    methods:
    {       
        moment(date) 
        {            
            return moment(date).locale('es').format('lll');
        },
        dataTable()
        {                       
            this.loading = true     
            Call('GET', 'Conf/Areas/Listar', true, null, false).then((res) =>
            {                         
                this.data = res.data.data                   
                this.loading = false
            }).catch((error)=>
            {
                console.log(error.response.data);
                this.loading = false
            })            
        },
        updat(id, contactType)
        {            
            this.upShow = true
            this.typeC = contactType            
            for (const key in this.dynamicTable) 
            {
                if (this.dynamicTable[key]._id == id) 
                {
                    // console.log(this.dynamicTable[key]) 
                    this.dataa._id = id
                    this.codd = this.dynamicTable[key].nitClient
                    this.dataa.adminType = this.dynamicTable[key].adminType
                    this.dataa.nitClient = this.dynamicTable[key].nitClient
                    this.dataa.name.first = this.dynamicTable[key].name.first
                    this.dataa.code = this.dynamicTable[key].code
                    this.dataa.company = this.dynamicTable[key].company
                    this.dataa.address = this.dynamicTable[key].address
                    this.dataa.phones = this.dynamicTable[key].phones
                    this.dataa.contact_admin = this.dynamicTable[key].contact_admin                 
                }
            }
            if(this.typeC == 'Provider')
            {
                let dep = this.dataa.address[0].department
                this.getdeptown(dep)
            }
        },
        delet(id)
        {            
            Call('DELETE', 'Conf/Areas/Eliminar/'+id, true, null, false).then((res) =>
            {
                let data = (res.data)                            
                this.$swal.fire(
                {
                    title: 'Exito!',
                    text: "Area eliminada satisfactoriamente",
                    type: 'success',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',                    
                    confirmButtonText: 'Aceptar'
                })
                this.dataTable()                
            })
            .catch((error) =>
            {
                this.$swal.fire(
                {
                    title: 'Info',
                    text: "Error inesperado, intente nuevamente",
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',                    
                    confirmButtonText: 'Aceptar'
                })
                this.dataTable()
            })
        },
        uniqueNit()
        {
            if(this.codd != this.dataa.nitClient)
            {
                Call('POST', 'dynamic/unique-nit', true, {nit: this.dataa.nitClient}, false, 'ASF').then((res) =>
                {
                    if(res.data == 'pass')
                    {
                        this.response.uniqueNit.status = false
                        this.response.uniqueNit.text = 'Aprobado'
                    }
                    else
                    {
                        this.response.uniqueNit.status = true
                        this.response.uniqueNit.text = 'Este NIT ya se encuentra registrado'
                    }
                })
            } else {
                this.response.uniqueNit.status = null
                this.response.uniqueNit.text = ''
            }
        },
        upThirdDB()
        {
            this.response.chargingButton = true            
            Call('PUT', 'dynamic/up', true, {id: this.dataa._id, datas: this.dataa}, false, 'ASF')
            .then((resp) =>
            {
                // let data = this.$myCryptor.decode(resp.data)                
                if(resp.data.status)
                {
                    this.$chidoriAlert.show('Guardado !!', 'El contacto se modifico correctamente', 'success', 4000)
                }
                else
                {
                    this.$chidoriAlert.show('Error', 'Error inesperado, intente Nuevamente', 'error', 4000)
                }
                this.response.chargingButton = false
                this.upShow = false
                this.dataTable(this.typeC)
            })
        },
        sessdata()
        {            
            Call('POST', '/auth/sessdata', true, {fields: ['data.model.usuario']}, false, 'SF').then(resp => 
            {                                          
                let res = (resp.data.data);                                
                this.nameUser = res[0].first+' '+res[0].last               
            })
        },
    }
}
</script>