<template>    
    <div class="some-cont">          
        <div class="side-nav no-collapse">
            <p class="text-center logo_main p-2 mb-0">
                <router-link to="/"><img src="src/textures/logos/logo.png" class="img-fluid img-" alt=""></router-link>
            </p>
            <ul class="list-unstyled mb-0"> 
                <hr class="my-0">    
            <!-- begin copy to other element [item] at side-nav  -->
                <div>
                    <li class="" id="0">
                        <div class="nav-item d-flex align-items-center w-100 position-relative">
                            <i class="fa fa-pencil-square-o"></i>
                            <p class="animated fadeIn mb-0 item-text-title active ml-2">Creación</p>
                            <i class="more-items-nav fa fa-chevron-right animated fadeInRight ml-auto mb-1"></i>
                        </div>                                       
                    </li>                
                    <div class="more-items-in-item" data-id="0">
                        <!-- <router-link v-for="(sub, indexx) in perm.subitems" :key="indexx" :to="'/vc/sf/'+sub.url"><p>{{sub.text}}</p></router-link> -->
                        <router-link to="/bf/create-area"><p>Areas</p></router-link>
                    </div> 
                    <hr class="my-0">
                </div> 
            <!-- end copy to other element [item] at side-nav  -->
            <!-- begin copy to other element [item] at side-nav  -->
                <div>
                    <li class="" id="1">
                        <div class="nav-item d-flex align-items-center w-100 position-relative">
                            <i class="fa fa-list-alt"></i>
                            <p class="animated fadeIn mb-0 item-text-title active ml-2">Listado</p>
                            <i class="more-items-nav fa fa-chevron-right animated fadeInRight ml-auto mb-1"></i>
                        </div>                                       
                    </li>                
                    <div class="more-items-in-item" data-id="1">
                        <!-- <router-link v-for="(sub, indexx) in perm.subitems" :key="indexx" :to="'/vc/sf/'+sub.url"><p>{{sub.text}}</p></router-link> -->
                        <router-link to="/bf/list-areas"><p>Areas</p></router-link>
                    </div> 
                    <hr class="my-0">
                </div> 
            <!-- end copy to other element [item] at side-nav  -->              
            </ul>
        </div>
        <div class="nav-bar active d-flex align-content-center">
               <div class="d-flex align-content-center justify-content-between w-100 align-items-center">
                    <div class="wrapper_nav_control align-items-center d-inline-flex">
                        <a class="btn btn-small bg-white btn-collapse-side" data-toggle="tooltip" data-placement="bottom" title="Menú">
                            <i class="fa fa-bars"></i>
                        </a>
                        <a class="btn btn-small bg-white mx-1" onclick="window.history.go(-1); return false;" data-toggle="tooltip" data-placement="bottom" title="Atras">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                    </div>
                    <span class="poppins text-light mb-0 main-name-module focus-in-contract-bck">BlackFish</span>
                    <div class="wrapper_profile_control poppins">
                        <div class="roll-in-blurred-left d-inline-grid n-r">
                            <strong class="text-dark-blue">{{ nameUser }}</strong>
                            <span class="text-white">{{ rolUser }}</span>                            
                        </div>                      
                        <img src="src/photo_.png" class="bounce-in-bck img-fluid profile-photo ml-2" alt="">                       
                        <el-dropdown trigger="click">
                            <span class="el-dropdown-link mr-2">
                                <i class="text-white el-icon-more-outline fa-rotate-90" style="outline:none;font-size: 17px;margin-top: 6px;cursor:pointer;"></i>
                            </span>
                            <el-dropdown-menu slot="dropdown" style="width:160px;">
                                <el-dropdown-item><a class="poppins-light text-dark" style="text-decoration: none;" href="/logout"><i class="el-icon-circle-close"></i> Cerrar Sesion</a></el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>                       	
                    </div>
               </div>
            </div>
        <div class="main-app active">      
            <!-- START ALERT -->
        <div id="chidoriAlert" class="d-flex align-items-center position-fixed fixed-bottom w-100 px-5 p-3">
            <div class="w-100 container px-4">
                <div class="row">
                    <div class="col-lg-9 col-md-9 mb-2">
                        <img class="img-fluid iconAlert" src="src/textures/icons/success.png" alt="">
                        <div class="d-inline-grid position-absolute textAlert">
                            <strong class="">Lorem insup</strong> 
                            <span class="text-white poppins">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus vero af</span>
                        </div>
                    </div>
                    <div style="margin-top: 30px;margin-bottom: 20px;" class="col-lg-3 col-md-3 buttonAlert d-flex align-items-center justify-content-center">
                        <button class="alertButton">
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
            <audio id="soundNotify">
                <source src="src/sounds/notification.mp3" type="audio/mp3">
            </audio>
        </div>        
        <!-- END ALERT -->                  
            <div class="card border-0 mb-5 radius-0 white-bg p-1" style="margin-bottom: 50px;">                      
                <router-view data-uid="sf"></router-view>
            </div>
        </div>
        <div class="poppins info-s-wrapper justify-content-between d-flex align-items-center w-100 position-fixed fixed-bottom">
            <div class="px-3 text-white">
                <i class="fa fa-copyright"></i> <span class="font-weight-bold">{{name}}</span> {{today_year}} • <strong>IP:</strong> {{ip}} • <strong>v{{version}}</strong>
            </div>
            <div class="px-3 text-white">
                <span class="">
                    <i class="fa fa-calendar"></i> <b>Ultimo Acceso:</b> {{last_access}} 
                </span>
                •
                <a href="" @click.prevent="help()" class="text-white">Help</a> <i class="fa fa-question"></i>
            </div>
        </div>                
    </div>
</template>

<script>
const {version, name} = require('../../../../package.json')
import Call from '../../Utilities/Plugins/axios';
import { EventBus } from '../../Utilities/Plugins/Bus.js'
export default {
    data(){
        return{          
            today_year: new Date().getFullYear(),
            ip: '',
            wid: "80%",
            name: name,           
            nameUser: '' ,
            rolUser: '',
            version: version,
            last_access: new Date().getDate()+'-'+(new Date().getMonth()+1)+'-'+new Date().getFullYear(),            
        }
    },
    created()
    {
        this.sessdata()        
    },
    mounted() 
    {                
        $('[data-toggle="tooltip"]').tooltip()        
        this.ip = '192.168.0.1'                
        // this.sessdata()

    },
    methods:
    {                        
        sessdata()
        {            
            Call('POST', '/auth/sessdata', true, {fields: ['model']}, false, 'SF').then(resp => 
            {                     
                let res = this.$myCryptor.decode(resp.data.data);                                                     
                this.nameUser = res[0].usuario.nombre_completo
                this.rolUser = res[0].roles.nombre                
            })
        },
        help()
        {
            this.$swal.fire(
            {
                title: 'Info',
                html: "<p class='poppins mb-0 text-justify'>Para cualquier duda o inconveniente puede enviar un correo a <strong><a class='' href='mailto:soporte.ionico@gmail.com'>soporte.ionico@gmail.com</a></strong></p>",
                type: 'info',
                showCancelButton: true,
                cancelButtonText: 'Cerrar',
                confirmButtonColor: '#3085d6',                    
                confirmButtonText: 'Ver Manual'
            }).then((result) => 
            {
                if(result.value)
                {
                    window.open
                    (
                        'src/Manualdeusuario.pdf',
                        '_blank'
                    ); 
                }               
            })
        }
    }
}
</script>


