<template>
    <div class="container my-0 p-0">
        <h4 class="text-center poppins text-dark-blue font-weight-bold text-uppercase">Registrar Paciente</h4> 
        <hr class="bg-dark-blue">
        <form class="form-row mx-0" autocomplete="off" name="addPatient" @submit.prevent="addPatient()">
            <div class="col-12 mb-2 col-lg-3 col-md-6 px-1">
                <label class="mb-0 font-weight-bold poppins">Primer Nombre</label>
                <input type="text" name="patient_fname" v-model="patient_data.basic_info.name.fname" class="form-control" placeholder="Ingrese Primer Nombre">
            </div>
            <div class="col-12 mb-2 col-lg-3 col-md-6 px-1">
                <label class="mb-0 font-weight-bold poppins">Segundo Nombre</label>
                <input type="text" name="patient_sname" v-model="patient_data.basic_info.name.sname" class="form-control" placeholder="Ingrese Segundo Nombre">
            </div>
            <div class="col-12 mb-2 col-lg-3 col-md-6 px-1">
                <label class="mb-0 font-weight-bold poppins">Primer Apellido</label>
                <input type="text" name="patient_flname" v-model="patient_data.basic_info.lastname.flname" class="form-control" placeholder="Ingrese Primer Apellido">
            </div>
            <div class="col-12 mb-2 col-lg-3 col-md-6 px-1">
                <label class="mb-0 font-weight-bold poppins">Segundo Apellido</label>
                <input type="text" name="patient_slname" v-model="patient_data.basic_info.lastname.slname" class="form-control" placeholder="Ingrese Segundo Apellido">
            </div>
            <div class="col-lg-6 mb-2 col-md-12 col-sm-12 px-1">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Identificación</span>
                    </div>
                    <select name="ty" required v-model="patient_data.dni.tipo" class="form-control">                        
                        <option value="" disabled selected>Escoja una opción</option>
                        <option value="C.C">Cédula</option>
                        <option value="R.C">Registro Cívil</option>
                        <option value="C.E">Cédula Extranjeria</option>   
                        <option value="T.I">Tarjeta Identidad</option>                     
                    </select> 
                </div>
            </div>
            <div class="col-lg-6 mb-2 col-md-12 col-sm-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" :class="{'border-danger bg-danger text-white': response.uniquePatient.status, 'border-success bg-success text-white': response.uniquePatient.status == false}">N° De Identificación</span>
                    </div>
                    <input type="number" @change="uniquePatients" :class="{'is-invalid border-danger': response.uniquePatient.status, 'is-valid': response.uniquePatient.status == false}" required name="documet" class="form-control" v-model="patient_data.dni.num">
                    <div class="poppins" :class="{'invalid-feedback': response.uniquePatient.status, 'valid-feedback': !response.uniquePatient.status}">
                        {{ response.uniquePatient.text }}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr class="my-2">
            </div>  
            <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                <label class="mb-0 font-weight-bold poppins">Fecha Nacimiento</label>
                <el-date-picker
                    v-model="patient_data.basic_info.birthdate"
                    type="date"
                    class="w-100"
                    placeholder="Selecciona un dia"
                    format="yyyy/MM/dd"
                    value-format="yyyy-MM-dd">
                </el-date-picker>
                <!-- <input type="date" v-model="product.expiration_date" name="product_expiration_date" class="form-control" placeholder="Fecha Vencimiento"> -->
            </div>     
            <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                <label class="mb-0 font-weight-bold poppins">Sexo</label>
                <select name="" id="" v-model="patient_data.basic_info.gender" class="form-control">
                    <option value="" disabled selected>Escoja una opción</option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                    <option value="O">Otro</option>
                </select>
            </div>
            <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                <label class="mb-0 font-weight-bold poppins">Teléfono</label>
                <input type="number" name="phone" v-model="patient_data.basic_info.phone" class="form-control" placeholder="Ingrese Telefono">
            </div> 
            <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                <label class="mb-0 font-weight-bold poppins">Dirección</label>
                <input type="text" name="address" v-model="patient_data.basic_info.location.address" class="form-control" placeholder="Ingrese Direccion">
            </div>
            <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                <label class="mb-0 font-weight-bold poppins">Departamento:</label>
                <el-select  v-model="dep" class="col-lg-12 pl-0 mx-0 px-0" filterable placeholder="Selecione una opción" name="departamento">
                    <el-option v-for="(loc,index) in deptown" :key="index" :label="loc.departamento" :value="loc.departamento+'/'+index"></el-option>
                </el-select>
            </div>
            <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                <label class="mb-0 font-weight-bold poppins">Ciudad:</label>
                <el-select  v-model="patient_data.basic_info.location.town" filterable class="col-lg-12 pl-0 mx-0 px-0" placeholder="Selecione una opción" name="ciudad">
                    <el-option v-for="(town,index) in cit" :key="index" :label="town" :value="town"></el-option>
                </el-select>
            </div>   
            <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                <label class="mb-0 font-weight-bold poppins">Vinculación</label>
                <select name="" id="" v-model="patient_data.basic_info.vinculation" class="form-control">
                    <option value="" disabled selected>Escoja una opción</option>
                    <option value="C">Contributivo</option>
                    <option value="C-S">Contributivo-Sub</option>
                    <option value="S">Subsidiado</option>
                    <option value="S-S">Subsidiado-Sub</option>
                    <option value="V">Vinculado</option>
                    <option value="P">Particulares</option>
                </select>
            </div>
            <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                <label class="mb-0 font-weight-bold poppins">Estado Civil</label>
                <select name="" id="" v-model="patient_data.basic_info.civil_state" class="form-control">
                    <option value="" disabled selected>Escoja una opción</option>
                    <option value="S">Soltero</option>
                    <option value="C">Casado</option>
                    <option value="V">Viudo</option>
                    <option value="D">Divorciado</option>
                    <option value="U-L">Unión Libre</option>
                </select>
            </div> 
            <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                <label class="mb-0 font-weight-bold poppins">Grupo Sanguíneo</label>
                <select name="" id="" v-model="patient_data.basic_info.rh" class="form-control">
                    <option value="" disabled selected>Escoja una opción</option>
                    <option value="A+">A RH+</option>
                    <option value="A-">A RH-</option>
                    <option value="AB+">AB RH+</option>
                    <option value="AB-">AB RH-</option>
                    <option value="B+">B RH+</option>
                    <option value="B-">B RH-</option>
                    <option value="O+">O RH+</option>
                    <option value="O-">O RH-</option>
                    <option value="NO REPORTA">NO REPORTA</option>
                </select>
            </div>  
            <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                <label class="mb-0 font-weight-bold poppins">Ocupación Laboral</label>
                <input type="text" name="ol" v-model="patient_data.basic_info.work" class="form-control" placeholder="Ingrese Ocupación">
            </div>                      
            <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                <label class="mb-0 font-weight-bold poppins">EPS</label>
                 <el-select v-model="patient_data.basic_info.eps" class="w-100" filterable placeholder="Escoja una opcion">
                    <el-option
                        v-for="(item, index) in dynamicTable.eps"
                        :key="index"
                        :label="item.name.first"
                        :value="item._id">
                    </el-option>
                </el-select>
                <!-- <select name="eps" v-model="patient_data.basic_info.eps" class="form-control">
                    <option value="" disabled selected>Escoja una opcion</option>
                    <option v-for="(dyn, index) in dynamicTable.eps" :key="index" :value="dyn._id">{{dyn.name.first}}</option>
                </select> -->
            </div>  
            <div class="col-12 text-center mt-2">
                <button type="submit" v-if="response.uniquePatient.status == false" v-bind:disabled="response.charginButton" class="btn btn-primary poppins"><i class="fa" v-bind:class="{'fa-save': !response.charginButton, 'fa-spinner fa-pulse': response.charginButton}"></i> Guardar</button>                
                <button type="submit" v-else disabled class="btn btn-primary poppins"><i class="fa fa-save"></i> Guardar</button>                
            </div>
        </form>
    </div>
</template>
<script>

let patient_save = 
{
    dni: 
    {
        tipo: '',
        num: 0
    },
    basic_info:
    {
        name:
        {
            fname: '',
            sname: ''
        },
        lastname:
        {
            flname: '',
            slname: ''
        },
        birthdate: '',
        rh: '',
        eps: '',
        gender: '',
       location:{ 
            town: '',
            dep: '',
            address: ''
        },
        civil_state: '',
        phone: '',
        work: '',
        vinculation: ''
    }
}
let city = require('../../Utilities/Data/Colombian-citys.json');
import Call from '../../Utilities/Plugins/axios';
export default {
    data(){
        return{
            dynamicTable: 
            {               
               eps: []                               
            },
            patient_data: patient_save,  
            response:
            {
                charginButton: false,
                uniquePatient: 
                {
                    text: '',
                    status: null
                }
            },
            dep: null,
            deptown: city,
            cit: []            
        }
    },
    created()
    {
        this.dynamic()
    },
    watch:{
       'dep': function (newVal) { 
            if(newVal != null){
                this.cit = []
                this.patient_data.basic_info.location.town = ''
                let dep = newVal.split('/')

                var dept = dep[0]
                var cd = dep[1]
                this.patient_data.basic_info.location.dep = dept
                let array_dep = this.deptown[cd].ciudades
                for (let index = 0; index < array_dep.length; index++) {
                    var city = array_dep[index];
                    this.cit.push(city)  
                }
            }
       }
    },
    methods:
    {
        dynamic()
        {            
            Call('POST', 'dynamic/list', true, null, false, 'ASF').then((resp) => 
            {
                let response = this.$myCryptor.decode(resp.data.res)
                for(let dyn in response)
                {
                    if(response[dyn].contactType.includes("EPS"))
                    {
                        this.dynamicTable.eps.push(response[dyn])
                    }                    
                }
            })
        },
        addPatient()
        {
            this.response.charginButton = true
            let error = 0 
            let errorb = 0
            let errorc = 0
            let fn = this.patient_data.basic_info.name.fname
            let a = this.patient_data.basic_info
            let b = this.patient_data.basic_info.lastname
            let c = this.patient_data.basic_info.location

            for(let key in a)
            {
                if(a[key] == '')
                {
                    error++;
                }
            }
            for(let key in b)
            {
                if(b[key] == '')
                {
                    errorb++;
                }
            }
            for(let key in c)
            {
                if(c[key] == '')
                {
                    errorc++;
                }
            }
            if(error == 0 && errorb == 0 && errorc == 0 && fn != '')
            {
                // console.log('it´s done!')                
                Call('POST', 'patient/store', true, this.patient_data, false, 'PSF').then((res) => 
                {
                    this.response.charginButton = false
                    if(res.data.status == 'success')
                    {
                        this.$chidoriAlert.show('Guardado !!', 'el paciente se guardo correctamente', 'success', 4000)
                        this.patient_data.basic_info.birthdate = ''
                        this.patient_data.basic_info.rh = ''
                        this.patient_data.basic_info.work = ''
                        this.patient_data.basic_info.vinculation = ''
                        this.patient_data.basic_info.civil_state = ''
                        this.patient_data.basic_info.name.fname = ''
                        this.patient_data.basic_info.name.sname= ''
                        this.patient_data.basic_info.lastname.flname= ''
                        this.patient_data.basic_info.lastname.slname= ''
                        this.patient_data.basic_info.location.dep = ''
                        this.patient_data.basic_info.location.town = ''
                        this.patient_data.basic_info.location.address = ''
                        this.patient_data.basic_info.phone = ''
                        this.patient_data.basic_info.gender = ''
                        this.patient_data.basic_info.eps = ''
                        this.patient_data.dni.tipo = ''
                        this.patient_data.dni.num = 0
                        this.dep = null
                        this.cit = []

                        this.response.uniquePatient.status = null
                        this.response.uniquePatient.text = ''
                    }
                    else
                    {
                        this.$chidoriAlert.show('Error', 'Revise los campos e intente Nuevamente', 'error', 4000)
                    }
                })
            } 
            else
            {
                this.response.charginButton = false
                this.$chidoriAlert.show('Error', 'No puede haber campos vacios', 'error', 4000)
            }           
        },
        uniquePatients()
        {
            if(this.patient_data.dni.num != '' && this.patient_data.dni.num.length >= 7)
            {                
                Call('POST', 'patient/unique-dni', true, {dni: this.patient_data.dni.num}, false, 'PSF').then((res) =>
                {
                    if(res.data == 'pass')
                    {
                        this.response.uniquePatient.status = false
                        this.response.uniquePatient.text = 'Aprobado'
                    }
                    else
                    {
                        this.response.uniquePatient.status = true
                        this.response.uniquePatient.text = 'Este Numero de identificación ya se encuentra registrada'
                    }
                })
            }
            else
            {
                this.response.uniquePatient.status = true
                this.response.uniquePatient.text = 'Numero de identificación no valido'
            }
        }
    }
}
</script>

