<template>
    <div class="container my-0 p-0">  
        <div id="upShow" class="container mt-0 mb-4 update-container px-0" v-if="upShow">
            <h4 class="text-center poppins text-dark-blue font-weight-bold text-uppercase">Modificar Paciente</h4> 
            <hr class="bg-dark-blue">
            <form class="form-row mx-0" autocomplete="off" name="addPatient" @submit.prevent="addPatient()">
                <div class="col-12 mb-2 col-lg-3 col-md-6 px-1">
                    <label class="mb-0 font-weight-bold poppins">Primer Nombre</label>
                    <input type="text" name="patient_fname" v-model="patient_data.basic_info.name.fname" class="form-control" placeholder="Ingrese primer Nombre">
                </div>
                <div class="col-12 mb-2 col-lg-3 col-md-6 px-1">
                    <label class="mb-0 font-weight-bold poppins">Segundo Nombre</label>
                    <input type="text" name="patient_sname" v-model="patient_data.basic_info.name.sname" class="form-control" placeholder="Ingrese Segundo Nombre">
                </div>
                <div class="col-12 mb-2 col-lg-6 col-md-6 px-1">
                    <label class="mb-0 font-weight-bold poppins">Primer Apellido</label>
                    <input type="text" name="patient_sname" v-model="patient_data.basic_info.lastname.flname" class="form-control" placeholder="Ingrese 1er Apellido">
                </div>
                <div class="col-12 mb-2 col-lg-3 col-md-6 px-1">
                    <label class="mb-0 font-weight-bold poppins">Segundo Apellido</label>
                    <input type="text" name="patient_slname" v-model="patient_data.basic_info.lastname.slname" class="form-control" placeholder="Ingrese Segundo Apellido">
                </div>              
                <div class="col-12">
                    <hr class="my-2">
                </div>  
                <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                    <label class="mb-0 font-weight-bold poppins">Fecha Nacimiento</label>
                    <el-date-picker
                        v-model="patient_data.basic_info.birthdate"
                        type="date"
                        class="w-100"
                        placeholder="Ingresa Fecha"
                        format="yyyy/MM/dd"
                        value-format="yyyy-MM-dd">
                    </el-date-picker>     
                </div>
                <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                    <label class="mb-0 font-weight-bold poppins">Sexo</label>
                    <select name="" id="" v-model="patient_data.basic_info.gender" class="form-control">
                        <option value="" disabled selected>Escoja una opción</option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                        <option value="O">Otro</option>
                    </select>
                </div> 
                <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                    <label class="mb-0 font-weight-bold poppins">Teléfono</label>
                    <input type="number" name="phone" v-model="patient_data.basic_info.phone" class="form-control" placeholder="Ingrese Telefono">
                </div>  
                <div class="col-lg-4 mb-2 col-md-12 col-sm-12">
                    <label class="mb-0 font-weight-bold poppins">Dirección</label>
                    <input type="text" name="address" v-model="patient_data.basic_info.location.address" class="form-control" placeholder="Ingrese Direccion">
                </div> 
                <div class="col-lg-4 mb-2 col-md-12 col-sm-12">
                    <label class="mb-0 font-weight-bold poppins">Departamento:</label>
                    <el-select  v-model="dep" class="col-lg-12 pl-0 mx-0 px-0" placeholder="Selecione una opción" name="departamento" @change="selectTown()">
                        <el-option v-for="(loc,index) in deptown" :key="index" :label="loc.departamento" :value="loc.departamento+'/'+index"></el-option>
                    </el-select>
                </div>
                <div class="col-lg-4 mb-2 col-md-12 col-sm-12">
                    <label class="mb-0 font-weight-bold poppins">Ciudad:</label>
                    <el-select  v-model="patient_data.basic_info.location.town" class="col-lg-12 pl-0 mx-0 px-0" placeholder="Selecione una opción" name="ciudad">
                        <el-option v-for="(town,index) in cit" :key="index" :label="town" :value="town"></el-option>
                    </el-select>
                </div>   
                <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                    <label class="mb-0 font-weight-bold poppins">Vinculación</label>
                    <select name="" id="" v-model="patient_data.basic_info.vinculation" class="form-control">
                        <option value="" disabled selected>Escoja una opción</option>
                        <option value="C">Contributivo</option>
                        <option value="C-S">Contributivo-Sub</option>
                        <option value="S">Subsidiado</option>
                        <option value="S-S">Subsidiado-Sub</option>
                        <option value="V">Vinculado</option>
                        <option value="P">Particulares</option>
                    </select>
                </div>
                <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                    <label class="mb-0 font-weight-bold poppins">Estado Cívil</label>
                    <select name="" id="" v-model="patient_data.basic_info.civil_state" class="form-control">
                        <option value="" disabled selected>Escoja una opción</option>
                        <option value="S">Soltero</option>
                        <option value="C">Casado</option>
                        <option value="V">Viudo</option>
                        <option value="D">Divorciado</option>
                        <option value="U-L">Unión Libre</option>
                    </select>
                </div> 
                <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                    <label class="mb-0 font-weight-bold poppins">Grupo Sanguíneo</label>
                    <select name="" id="" v-model="patient_data.basic_info.rh" class="form-control">
                        <option value="" disabled selected>Escoja una opción</option>
                        <option value="A+">A RH+</option>
                        <option value="A-">A RH-</option>
                        <option value="AB+">AB RH+</option>
                        <option value="AB-">AB RH-</option>
                        <option value="B+">B RH+</option>
                        <option value="B-">B RH-</option>
                        <option value="O+">O RH+</option>
                        <option value="O-">O RH-</option>
                    </select>
                </div>  
                <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                    <label class="mb-0 font-weight-bold poppins">Ocupación Laboral</label>
                    <input type="text" name="ol" v-model="patient_data.basic_info.work" class="form-control" placeholder="Ingrese Ocupación">
                </div>                      
                <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                    <label class="mb-0 font-weight-bold poppins">EPS</label>
                    <el-select v-model="patient_data.basic_info.eps" class="w-100" filterable placeholder="Escoja una opcion">
                        <el-option
                            v-for="(item, index) in dynamicTable.eps"
                            :key="index"
                            :label="item.name.first"
                            :value="item._id">
                        </el-option>
                    </el-select>
                </div>  
                <div class="col-12 text-center mt-2">
                    <button type="button" class="btn btn-danger" @click="upShow = !upShow">Cancelar <i class="fa fa-times"></i></button>                    
                    <button type="button" v-bind:disabled="response.charginButton" @click="upPatientDB()" class="btn btn-primary poppins"><i class="fa" v-bind:class="{'fa-save': !response.charginButton, 'fa-spinner fa-pulse': response.charginButton}"></i> Guardar</button>                                          
                </div>
            </form>
        </div>     


        <h4 class="text-center poppins text-dark-blue font-weight-bold text-uppercase">Consultar Pacientes</h4> 
        <hr class="bg-dark-blue">
        <div class="mb-2">
            <router-link to="/vc/sf/patient"><button class="btn btn-outline-success poppins-light mr-1 mb-1"><i class="el-icon-plus"></i> Agregar</button></router-link>
        </div>
        <el-input placeholder="" class="mb-2 poppins input-s" v-model="filters[0].value">
            <template slot="prepend">¿A quien buscas?</template>
        </el-input>        
        <data-tables v-loading.body="loading" :table-props="tableProps" :data="data" :filters="filters" class="poppins">
            <el-table-column header-align="center" align="center" class-name="font-weight-bold"
            type="index"
            label="N°">
            </el-table-column>
            <el-table-column header-align="center" prop="typeDni" align="center" label="TIPO ID" sortable="custom">
            </el-table-column>
            <el-table-column header-align="center" prop="dni" align="center" label="ID" sortable="custom">
            </el-table-column>
            <el-table-column header-align="center" prop="names" label="NOMBRES" sortable="custom">
            </el-table-column>
            <el-table-column header-align="center" prop="lnames" label="APELLIDOS" sortable="custom">
            </el-table-column>  
            <el-table-column header-align="center" prop="gender" align="center" label="GÉNERO" sortable="custom">
            </el-table-column>          
            <el-table-column header-align="center" align="center" label="INFO">
                <template slot-scope="scope">
                    <el-popover trigger="click" placement="top-start">
                        <p class="poppins mb-0"><strong>Tel: </strong> <span class="poppins-light">{{ scope.row.phone }}</span></p>
                        <hr class="my-2">
                        <p class="poppins mb-0"><strong>Municipio: </strong> <span class="poppins-light">{{ scope.row.town }}</span></p>
                        <hr class="my-2">
                        <p class="poppins mb-0"><strong>EPS: </strong> <span class="poppins-light">{{ scope.row.eps }}</span></p>
                        <hr class="my-2">
                        <p class="poppins mb-0"><strong>RH: </strong> <span class="poppins-light">{{ scope.row.rh }}</span></p>
                        <el-button icon="el-icon-info" slot="reference" circle></el-button>
                    </el-popover>
                </template>
            </el-table-column>
            <el-table-column fixed="right" align="center" width="120" label="ACCIONES" v-if="permiss.update == true || permiss.delete == true">
                <template slot-scope="scope">
                    <el-button-group>   
                        <el-tooltip content="Editar" placement="top" v-if="permiss.update == true">                     
                            <el-button type="primary" @click="upPatient(scope.$index)" size="mini" icon="el-icon-edit" onclick="$(document).scrollTop(0)"></el-button>
                        </el-tooltip>
                        <el-popover
                        placement="top-start" 
                        trigger="manual"                         
                        v-model="scope.row.visiblepop">
                            <p class="mb-0">Estas seguro de eliminar este paciente?</p>
                            <hr class="my-2">
                            <div class="d-flex justify-content-end align-items-center">
                                <el-button size="mini" type="text" @click="scope.row.visiblepop = false">Cancelar</el-button>
                                <el-button type="danger" size="mini" @click.prevent="delPatient(scope.row.id, scope.$index)">Eliminar</el-button>
                            </div>
                            <el-button type="danger" @click="scope.row.visiblepop = true" slot="reference" size="mini" icon="el-icon-delete"></el-button>
                        </el-popover>
                    </el-button-group>
                </template>
            </el-table-column>
        </data-tables>          
    </div>
</template>
<style>
.input-s > .el-input__inner
{
    border-color: #dcdfe6 !important;
    font-weight: 300;
}
.update-container input
{
    text-transform: uppercase;
}
</style>

<script>
let city = require('../../Utilities/Data/Colombian-citys.json');
import Call from '../../Utilities/Plugins/axios';
export default {
    data() {
        return {            
            dynamicTable: 
            {               
               eps: []                               
            },
            data: [],
            tempeps: '',
            patient_data: 
            {
                _id: '',
                dni: 
                {
                    tipo: '',
                    num: 0
                },
                basic_info:
                {
                    name:
                    {
                        fname: '',
                        sname: ''
                    },
                    lastname:
                    {
                        flname: '',
                        slname: ''
                    },
                    birthdate: '',
                    rh: '',
                    eps: '',
                    gender: '',
                    location:{
                     town: '',
                     dep: '',
                     address: ''
                    },
                    civil_state: '',
                    phone: '',
                    work: '',
                    vinculation: ''
                }
            }, 
            tableProps: 
            {
                border: false,
                stripe: true,
                defaultSort: {                
                order: 'descending'
                }
            },
            loading: true,
            filters: 
            [
                {
                    // prop: ['names', 'lnames', 'dni', 'typeDni', 'phone', 'rh', 'gender', 'address'],
                    // value: ''
                    filterFn: (row, filter) => {
                        return Object.keys(row).some(prop => {
                            if (prop === 'typeDni') {
                               let m = filter.value.toLowerCase()                
                               let val = this.quitaacentos(filter.value)
                               let r = this.quitaacentos(row.typeDni.toLowerCase())
                               return r.toLowerCase().indexOf(val) > -1
                            }
                            else if(prop === 'dni') {
                                let convert = row.dni.toString()
                                return convert.indexOf(filter.value) > -1
                                // console.log(row.dni)
                            }
                            else if(prop === 'names') {
                                let m = filter.value.toLowerCase()                
                                let val = this.quitaacentos(filter.value)
                                let r = this.quitaacentos(row.names.toLowerCase())
                                return r.toLowerCase().indexOf(val) > -1
                            }
                            else if(prop === 'lnames') {
                                let m = filter.value.toLowerCase()                
                                let val = this.quitaacentos(filter.value)
                                let r = this.quitaacentos(row.lnames.toLowerCase())
                                return r.toLowerCase().indexOf(val) > -1
                            } 
                        })
                     
                    }
                }
                 
            ],
            patients: [],
            upShow: false,
            response:
            {
                charginButton: false,                
            },
            dep : null,
            deptown: city,
            cit: [],
            permiss:{
                update: true,
                delete: true
            }    
        }
    },
    mounted()
    {
        this.dynamic()
        this.dataTable()
        this.sessdata()       
    },
    // watch:{
    //    'dep': function (newVal) { 
    //         if(newVal != null){
    //             this.cit = []
    //             this.patient_data.basic_info.location.town = ''
    //             let dep = newVal.split('/')

    //             var dept = dep[0]
    //             var cd = dep[1]
    //             this.patient_data.basic_info.location.dep = dept
    //             let array_dep = this.deptown[cd].ciudades
    //             for (let index = 0; index < array_dep.length; index++) {
    //                 var city = array_dep[index];
    //                 this.cit.push(city)  
    //             }
    //         }
    //    }
    // },
    methods:
    {        
        sessdata()
        {
            Call('POST', '/auth/sessdata', true, {fields: ['name','rol','company']}, false, 'SF').then(resp => {                                          
                let res = this.$myCryptor.decode(resp.data.data);                                
                this.nameUser = res[0].first+' '+res[0].last
                this.rolUser = res[1].name
                this.nitClient = res[2].nit
                for (const key in res[1].access.items) {
                    if(res[1].access.items[key].id == 2)
                        for (const llave in res[1].access.items[key].subitems) {
                            if(res[1].access.items[key].subitems[llave].id == 0) {
                                if(res[1].access.items[key].subitems[llave].actions.includes("U"))
                                    this.permiss.update = true;
                                else
                                    this.permiss.update = false
                                if(res[1].access.items[key].subitems[llave].actions.includes("D"))
                                    this.permiss.delete = true
                                else
                                    this.permiss.delete = false
                            }
                        }
                }
            })
        },      
        quitaacentos(s) {
            var r=s.toLowerCase();
            r = r.replace(new RegExp(/\s/g),"");
            r = r.replace(new RegExp(/[àáâãäå]/g),"a");
            r = r.replace(new RegExp(/[èéêë]/g),"e");
            r = r.replace(new RegExp(/[ìíîï]/g),"i");
            r = r.replace(new RegExp(/ñ/g),"n");                
            r = r.replace(new RegExp(/[òóôõö]/g),"o");
            r = r.replace(new RegExp(/[ùúûü]/g),"u");                                
            return r;
        }, 
        getdeptown(dep)
        {
            let posdep = 0
            let indexdep = 0
            for (let index = 0; index < this.deptown.length; index++) {
                let dept = this.deptown[index].departamento;
                if(dep == dept)
                {
                     posdep = dept+"/"+index
                     indexdep = index
                }  
            }
            this.dep = posdep
            let array_dep = this.deptown[indexdep].ciudades
            for (let index = 0; index < array_dep.length; index++) {
                let city = array_dep[index]; 
                this.cit.push(city)  
            }
        },
        selectTown()
        {
            let newVal = this.dep            
            if(newVal != null){
                this.cit = []
                this.patient_data.basic_info.location.town = ''
                let dep = newVal.split('/')
                var dept = dep[0]
                var cd = dep[1]
                this.patient_data.basic_info.location.dep = dept
                let array_dep = this.deptown[cd].ciudades
                for (let index = 0; index < array_dep.length; index++) {
                    var city = array_dep[index];
                    this.cit.push(city)  
                }
            }
        },      
        dynamic()
        {
            Call('POST', 'dynamic/list', true, null, false, 'ASF').then((resp) => 
            {
                let response = this.$myCryptor.decode(resp.data.res)
                for(let dyn in response)
                {
                    if(response[dyn].contactType.includes("EPS"))
                    {
                        this.dynamicTable.eps.push(response[dyn])
                    }                    
                }
            })
        },
        delPatient(id, index) 
        {
            this.loading = true                 
            Call('POST', 'patient/del', true, {id: id}, false, 'PSF').then(resp => 
            {
                if(resp.data.status == 'success')
                {
                    this.data.splice(index, 1);
                    this.dataTable()
                    this.$chidoriAlert.show('Eliminado !!', 'El paciente se elimino correctamente', 'success', 4000)
                }
                else
                {
                    this.$chidoriAlert.show('Error', 'Error inesperado, intente Nuevamente', 'error', 4000)
                }                
            })
        },
        dataTable()
        {                       
            Call('POST', 'patient/list', true, null, false, 'PSF').then((res) =>
            {         
                this.data = []
                let dataa = 
                {
                    id: '',
                    visiblepop: false,
                    names: '',
                    lnames: '',
                    eps: '',
                    dni: '',
                    typeDni: '',
                    phone: '',
                    rh: '',
                    gender: '',
                    address: ''
                } 
                if(res.data.status == 'success')               
                {
                    let data_ = this.$myCryptor.decode(res.data.res)                
                    this.patients = data_                 
                    for (const key in this.patients) 
                    {
                        if(this.patients[key].basic_info.live)
                        {
                            dataa.id = this.patients[key]._id
                            dataa.names = this.patients[key].basic_info.name.fname+" "+this.patients[key].basic_info.name.sname
                            dataa.lnames = this.patients[key].basic_info.lastname.flname+" "+this.patients[key].basic_info.lastname.slname
                            dataa.dni = this.patients[key].dni.num
                            dataa.typeDni = this.patients[key].dni.tipo
                            dataa.phone = this.patients[key].basic_info.phone
                            dataa.address = this.patients[key].basic_info.location.address
                            dataa.town = this.patients[key].basic_info.location.town
                            dataa.dep = this.patients[key].basic_info.location.dep
                            dataa.rh = this.patients[key].basic_info.rh
                            dataa.gender = this.patients[key].basic_info.gender
                            for (const keyy in this.dynamicTable.eps) 
                            {
                                if (this.dynamicTable.eps[keyy]._id.toString() == this.patients[key].basic_info.eps.toString()) 
                                {                                    
                                    dataa.eps = this.dynamicTable.eps[keyy].name.first                    
                                }
                            }
                            this.data.push(dataa)
                            dataa = 
                            {
                                visiblepop: false,
                                names: '',
                                eps: '',
                                lnames: '',
                                dni: '',
                                typeDni: '',
                                phone: '',
                                rh: '',
                                gender: '',
                                address: ''
                            }   
                        }
                    }   
                }
            })
            this.loading = false
        },
        upPatient(id)
        {
            this.upShow = true    
            // this.tempeps = this.patients[id].basic_info.eps
            let dep = this.patients[id].basic_info.location.dep
            let town = this.patients[id].basic_info.location.town  
            //    console.log(dep+","+town)
            this.getdeptown(dep)     
            this.patient_data = this.patients[id]
            // let dep = this.patient_data.basic_info.location.dep
            // let town = this.patient_data.basic_info.location.town
            // for (const key in this.dynamicTable.eps) 
            // {
            //     if (this.dynamicTable.eps[key]._id == this.patient_data.basic_info.eps) 
            //     {
            //         this.patient_data.basic_info.eps = this.dynamicTable.eps[key].name.first                    
            //     }
            // }
        },
        upPatientDB()
        {
            this.response.charginButton = true
            // this.patient_data.basic_info.eps = this.tempeps            
            Call('PUT', 'patient/up', true, {id: this.patient_data._id, datas: this.patient_data}, false, 'PSF')
            .then((resp) =>
            {
                if(resp.data.status == 'success')
                {
                    this.$chidoriAlert.show('Guardado !!', 'El paciente se modifico correctamente', 'success', 4000)
                }
                else
                {
                    this.$chidoriAlert.show('Error', 'Error inesperado, intente Nuevamente', 'error', 4000)
                }
                this.response.charginButton = false
                this.upShow = false
                this.dataTable()
            })
        }
    }
}
</script>


