<template>
    <div class="container">        
        <div class="row mx-0">
            <div class="col-12 col-lg-12 text-center col-md-12 align-items-center justify-content-center position-relative d-flex" style="height:100vh;">
                <div class="col-lg-5 col-md-6 col-sm-12 card_wrapper bg-white px-5 py-5 animated fadeIn">
                   <div class="errors">
                        <ul class="error-handler mb-0">
                            <li class="text-left font-weight-bold pb-1"><i class="el-icon-warning"></i> Info</li>                        
                            <li class="text-left error-textt">lorem insup door sit amet</li>
                        </ul>
                   </div>
                    <p class="mb-0">
                        <p class="poppins mb-2 text-center">                            
                            <div class="px-4">
                                <img src="/src/textures/logos/isotipo.png" style="width:240px;" class="img-fluid pb-3 border-bottom border-light mb-2" alt="">
                            </div>
                            <p class="mb-0 poppins text-center" style="letter-spacing: 5px;font-size: 15px;color:rgb(185, 20, 20);">INGRESO AL SISTEMA</p>
                        </p>
                        <div class="input-wrapper position-relative mb-3">
                            <img src="/src/textures/icons/user/icons8-user.png" srcset="/src/textures/icons/user/icons8-user@2x.png 2x,/src/textures/icons/user/icons8-user@3x.png 3x" class="icons8-user">
                            <input type="text" v-model="inputUser" class="form-control-login" placeholder="Ingrese Usuario">                            
                        </div>
                        <div class="input-wrapper position-relative">
                            <img src="/src/textures/icons/key/icons8-password.png" srcset="/src/textures/icons/key/icons8-password@2x.png 2x,/src/textures/icons/key/icons8-password@3x.png 3x" class="icons8-user">
                            <input type="password" v-model="inputPass" class="form-control-login" placeholder="Ingrese Contraseña">                            
                        </div>                        
                        <!-- <div class="pt-2 pl-1">
                            <div class="custom-control text-left custom-checkbox" style="transform:scale(.9);position: relative;left: -22px;">
                                <input type="checkbox" v-model="admin" class="custom-control-input" id="adminU">
                                <label class="custom-control-label poppins" for="adminU" style="color:#747779;">Entrar como administrador</label>
                            </div>
                        </div> -->
                    </p>                    
                    <el-tooltip content="Ingresar 👌" placement="bottom" effect="dark">                        
                        <el-button v-bind:disabled="(inputUser == '') || (inputPass == '') || button.disabled" type="success" class="mt-4 bg-btn btn-login poppins" :loading="button.loading" @click="login()"> Iniciar</el-button>
                    </el-tooltip>
                    <p class="mb-0 poppins text-center copyright-login"><i class="fa fa-copyright" style="font-size: 1.4em;top: 1px;position: relative;"></i> Copyright <strong>BlackFish</strong> | Todos los derechos reservados</p>
                </div>
            </div>            
        </div>
    </div>
</template>
<script>
import Call from '../../Modules/Utilities/Plugins/axios';
export default {
    data() {
        return {
            inputPass: 'welcome@2020',
            inputUser: 'test@blackfish.com.co',
            admin: true,
            button: {loading: false, disabled: false}
        }
    },
    mounted()
    {        
        
    },
    methods:
    {
        login()
        {
            this.button.loading = true;
            this.button.disabled = true;
            let urr = '/auth/Entrar'                                    
            Call('POST', urr, false, {email: this.inputUser, password: this.inputPass, remember: true}, false).then(resp=>{
                console.log(resp);
                if(resp.data.success)
                {
                    let token = resp.data.token
                    let data = resp.data.data
                    // alert('entro')
                    // console.log(data)
                    Call('POST', '/auth/validate', false, {data, token}, false, 'SF').then(resp =>
                    {
                        // console.log(resp)
                        if(resp.data.validation)
                        {
                            window.location.href = '/';
                        } else {
                            $('.error-textt').text('error inesperado, recargue la pagina')
                            $('.error-handler').css({'top': '0px'}) 
                        }
                    })
                }else
                {
                    $('.error-textt').text(resp.data.exception.email[0])
                    $('.error-handler').css({'top': '0px'})                    
                }
                this.button.loading = false;
                this.button.disabled = false;
            })
            .catch(error => {
                console.log(error);        
               if(error.response.status == 409)
               {
                    $('.error-textt').text(error.response.data.exception.email[0])
                    $('.error-handler').css({'top': '0px'})  
               } else if(error.response.status == 401) 
               {
                    $('.error-textt').text(error.response.data.mensaje)
                    $('.error-handler').css({'top': '0px'})  
               } else {
                    $('.error-textt').text(error.response.data.error)
                    $('.error-handler').css({'top': '0px'})     
               }
                this.button.loading = false;
                this.button.disabled = false;
            })
        }
    }
}
</script>
